.Post {
    display: flex;
    flex-direction: column;
    padding: 2rem;
    background-color: var(--cardColor);
    border-radius: 1rem;
    gap: 1rem;
}

.StorybookPost {
    width: 20rem;
    display: flex;
    flex-direction: column;
    padding: 1rem;
    background-color: var(--cardColor);
    border-radius: 1rem;
    gap: 1rem;
}

#short{
    max-width: 40rem;
}
#title {
    text-decoration: none;
    color: rgb(199, 119, 163);
    cursor: pointer;
    
}
.title:hover {
    color: rgb(254, 155, 210);
}

.Post>img{
    width: 100%;
    max-height: 35rem;
    object-fit: cover;
    border-radius: 0.5rem;
}

.StorybookPost>img{
    width: 100%;
    max-height: 30rem;
    object-fit: cover;
    border-radius: 0.5rem;
}

.postReact{
    display: flex;
    align-items: flex-start;
    gap: 1.5rem;
}



.desc {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;/* Number of lines displayed before it truncate */
    overflow: hidden;
    max-width: 75ch;
}